.navbar-brand {
    font-family: 'Oswald', sans-serif;
}
.loader {
 border-top: 16px solid dodgerblue;
 border-right: 16px solid dodgerblue;
 border-bottom: 16px solid yellow;
 border-left: 16px  yellow;
}
