.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.loader {
    border-top: 16px solid black;
    border-right: 16px solid red;
    border-bottom: 16px solid black;
    border-left: 16px solid red;
}
