.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.loader {
    position: fixed;
    left: 50%;
    top: 85%;
    border-top: 16px solid black;
    border-right: 16px solid snow;
    border-bottom: 16px solid black;
    border-left: 16px solid snow;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}