{% load static %}

{% block aftercontent %}


    {% if page_obj.has_next %}
        <div class="loader"></div>
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}

{% endblock %}


{% block javascript %}


    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
    jQuery.noConflict();
        var infinite = new Waypoint.Infinite({
            element: jQuery('.infinite-container')[0],
            onBeforePageLoad: function () {
                jQuery('.loader').show();
            },

            onAfterPageLoad: function ($items) {
                jQuery('.loader').hide();
            }
        });
    </script>
{% endblock %}