{% extends 'base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}

    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
    </div>


    <div class="container">
        <div class="row border-top border-bottom text-dark  py-3">

            <div class="col-sm">
                <strong>Topic</strong>
            </div>
            <div class="col-sm">
                <strong>Starter</strong>
            </div>
            <div class="col-sm">
                <strong>Replies</strong>
            </div>
            <div class="col-sm">
                <strong>Views</strong>
            </div>
            <div class="col-sm">
                <strong>Last update</strong>
            </div>
        </div>
    </div>


    <div class="infinite-container">
        {% for topic in topics %}

            {% url 'topic_posts' board.pk topic.pk as topic_url %}

            <div class="infinite-item col-md">
                <div class="row py-3 border-bottom">
                    <div class="col-sm">
                        <p class="mb-0">
                            <a href="{{ topic_url }}">{{ topic.subject }}</a>
                        </p>
                         <small class="text-muted">
                            Pages:
                            {% for i in topic.get_page_range %}
                                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                            {% if topic.has_many_pages %}
                                ...<a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
                            {% endif %}
                        </small>

                    </div>

                    <div class="col-sm">{{ topic.starter.username }}</div>
                    <div class="col-sm">{{ topic.replies}}</div>
                    <div class="col-sm">{{ topic.views }}</div>
                    <div class="col-sm">{{ topic.last_updated|naturaltime }}</div>
                </div>
            </div>
        {% endfor %}


    </div>


    {% include 'includes/infinite.html' %}
{% endblock %}
{% block aftercontent %}{% endblock %}
{% block javascript %}{% endblock %}
